@model KonsiLoja.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoDevedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoDevedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelasTotais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelasTotais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelasPagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelasPagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedores.VendedorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContratoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
