@model KonsiLoja.Models.Vendedor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group  ">
                @Html.LabelFor(model => model.Codigo, new { @class = "col-sm-2 col-form-label" })
                @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control", @placeholder = "Digite seu nome", @style = "width:400px;" })
                <div class="alert-danger">
                    @Html.ValidationMessageFor(model => model.Codigo)
                </div>
            </div>


            <div class="form-group  ">
                @Html.LabelFor(model => model.Nome, new { @class = "col-sm-2 col-form-label" })
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Digite seu nome", @style = "width:400px;" })
                <div class="alert-danger">
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>


      

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
